body{background-color: #1F1F1F}
.banner {
    width: 353px;
    height: 173px;
    background-color: aqua;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.imgbox {
    width: 100%;
    height: 173px;
    position: relative;
    background-color: #222222;
    overflow: hidden;
    border-radius: 5px;
}
.img {
    position: absolute;
    display: none;
    left: 50%;
    margin-left: -683px;
}
.im {
    display: block;
}
.change {
    height: 100px;
    display: block;
    position: absolute;
    z-index: 20;
    opacity: 0.4;
    transition: 0.4s;
    top: 50%;
    margin-top: -50px
}
.change:hover {
    opacity: 1;
}
.pre {
    left: 1%;
}
.next {
    right: 1%;
}
.cirbox {
    width: 88px;
    position: absolute;
    bottom: 15px;
    z-index: 10;
    left: 50%;
    margin-left: -34px;
    cursor: pointer;
}
.cir {
    width: 6px;
    height: 6px;
    background-color: #43e4ea;
    opacity: 0.4;
    float: left;
    border-radius: 6px;
    margin: 0 5px 0 5px;
    cursor: pointer;
}
.cir2 {
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    opacity: 0.4;
    float: left;
    border-radius: 6px;
    margin: 0 5px 0 5px;
    cursor: pointer;
}
.cir:hover {
    background-color: cyan;
    transition: 0.8s;
}
.cr {
    opacity: 1;
}
.cr:hover {
    background-color: white;
}
