.urhr1{
    height: 3px;
    width: 340px;
    background-color: #ff5d03;
    margin-top: 6px;
}
div.ur1 ul ul {
    display: none;
}

div.ur1 li:hover ul {
    display: block;
}
div.ur1 ul li ul li:hover {
    color: dimgray;
}
